h2
  font-family: 'Montserrat', sans-serif
#bgvid
  position absolute
  top -150px
  width: 100%
  z-index: -2
  opacity: 0.6
  @media(max-width: 600px)
    display: none
.indexPortada
  position: relative
  display: inline-block
  height: 90vh
  box-sizing border-box
  padding-top 190px
  width: 100%
  top 0
  text-align: center
  color: white
  h1
    font-family: 'Roboto Slab', serif
    font-size: 72px
    font-weight: 300
    vertical-align: baseline
    margin 0
    @media(max-width: 600px)
      font-size: 40px
  h2
    font-size 60px
    vertical-align: baseline
    margin 0 0 15px 0
    @media(max-width: 600px)
      font-size: 40px
  p
    font-family 'Open Sans', sans-serif
    font-size 1rem
    vertical-align: baseline
    margin 0 0 45px 0
  a
    width: 225px
    height: 46px
    display: block
    border-radius: 5px
    background: #c8db4d
    margin: 0 auto
    font-size: 14px
    text-transform: uppercase
    line-height: 46px
    color: #fff
    text-decoration: none
    letter-spacing: 1px
    box-shadow: 0 -3px rgba(0,0,0,0.3) inset
    font-family: 'Montserrat', sans-serif
    vertical-align: baseline
  a:hover
    background: #69645e
