.editor
  padding: 100px 0
  height: auto
  .editorTitulo
    width: 80vw
    display flex
    justify-content: flex-end
    margin-bottom: 30px
    h2
      margin-right: 3rem
    input
      width: 40vw
      height: 50px
      font-size: 1rem
      font-family: 'Montserrat', sans-serif
    #descripcion
      width: 40vw
      height: 10vw
      font-size: 1rem
      font-family: 'Montserrat', sans-serif
