.critica
  height: 80%
  width: 100%
  background: #69645E
  vertical-align: top
  border-radius: 5px
  position: relative
  z-index: -1
  p
    position: absolute
    top: 1rem
    right: 1rem
    width: 75%
    text-align: right
    color: white
    font-family: 'Open Sans', sans-serif
    line-height: 1.5rem
    font-weight: 300
  .criticaAutor
    width: 260px
    height: 80px
    position: absolute
    top: 85%
    left: 25px
    display: flex
    .criticaAutorAvatar
      width: 76px
      height: 76px
      border-radius: 50%
      border 1px solid white
      background: grey
      margin-top: 4px
    hgroup
      height: 40px
      margin 40px 0 0 10px
      h4
        margin 0
        font-family: 'Montserrat', sans-serif
        font-weight: bold
        color: #69645e
        font-size: 0.9rem
      h5
        margin 0
        font-family: 'Open Sans', sans-serif
        font-weight: 300
        color: #69645e
