.backTop
  width: 48px
  height: 48px
  border-radius: 25px
  border: 1px solid #999
  display: block
  position: fixed
  bottom: 20px
  right: 40px
  text-decoration: none
  text-align: center
  z-index: 50
  font-size: 2rem
  display: none
  vertical-align: text-top
  color black
  p
    margin 0
    font-size: 1rem
    color #999
    vertical-align: top
    opacity: 0
  .fa-angle-up
    vertical-align: center
    font-weight: bold
.backTop:hover
  font-size: 1rem
  p
    opacity: 1
  .fa-angle-up
    vertical-align: top;
.visible
  display block
