doctype html
html(lang="en")
  head
   meta(charset="UTF-8")
   meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
   title#metaTitle=title
   meta#metaDescription(name='description')
   meta#metaKeywords(name='keywords')
   link(rel='stylesheet' type='text/css' href='app.css')
  body
   #header
   #main-container
   #backTopContainer
   #footer
   script(type='application/javascript' src='app.js')
   script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDMAreQT9pdjdYL-mCkj7ixSjdu3oaAxlg')
   script(type='application/javascript' src='mapa.js')
