.unicos
  position: relative
  display: inline-block
  .unicosTitulo
    width: 100%
    text-align: center
    margin-top 80px
    .unicosIcon
      width: 68px
      height: 68px
      background: #e1e1e1
      margin: auto
    h2
      font-size: 54px
      color: #333
      margin: 0 0 5px 0
    p
      font-family: 'Montserrat', sans-serif
      color: #666
      padding: 0 
  .unicosContenido
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    background: #CCCCCC
    padding 60px 20px 60px 20px
    .unicosServicios
      width: 250px
      .unicosServiciosIcon
        width: 48px
        height: 48px
        padding: 14px
        border: 1px solid #111
        border-radius: 50px
        margin: 0 auto 15px auto
      h3
        color: #111
        margin: 0 0 20px 0
        font-weight: bold
        font-family: 'Montserrat', sans-serif
        font-size: 1rem
        text-align: center
      p
        color: #333
        line-height: 1.6
        font-family: 'Open Sans', sans-serif
