verdeEa = #92b41b

.unicos
  position: relative
  display: inline-block
  .unicosTitulo
    width: 100%
    text-align: center
    margin-top 80px
    h2
      font-size: 54px
      color: #333
      margin: 0 0 5px 0
    p
      font-family: 'Montserrat', sans-serif
      color: #666
      padding: 0
  .unicosContenido
    height: auto
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    align-items: flex-start
    background: #CCCCCC
    padding 40px 20px 40px 20px
    .unicosServicios
      width: 250px
      text-align: center
      text-decoration: none
      .fa
        width: 48px
        height: 48px
        padding: 14px
        border: 1px solid #111
        border-radius: 50px
        margin: 0 auto 15px auto
        font-size: 2rem
        line-height: 48px
        text-align: center
        color verdeEa
        &:hover
          background: white
          color: #C8DB4D
      h3
        color: #111
        margin: 0 0 20px 0
        font-weight: bold
        font-family: 'Montserrat', sans-serif
        font-size: 1rem
        text-align: center
      p
        color: #333
        line-height: 1.6
        font-family: 'Open Sans', sans-serif
.sectionIcon
  width: 68px
  height: 68px
  background: linear-gradient(to bottom, verdeEa, #9CC11D)
  margin: auto
  border-radius: 10px
  color white
  line-height: 68px
  font-size: 2.5rem
