.inicioPortafolio
  position relative
  display: inline-block
  height: inherit
  .portafolioTitulo
    width: 100%
    margin-top: 40px
    text-align: center
    .portafolioIcon
      width: 68px
      height: 68px
      background: #e1e1e1
      margin: auto
    h2
      font-size: 54px
      color: #333
      margin: 0 0 5px 0
    p
      font-family: 'Montserrat', sans-serif
      color: #666
      padding: 0
  .portafolioProyectos
    display flex
    justify-content: space-around
    flex-wrap wrap
    padding 0 20px
    .proyecto
      width: 245px
      height: 345px
      background: #e1e1e1
      margin-bottom: 20px
      box-shadow: 0 2px 3px rgba(0,0,0,0.2)
      position: relative
      text-decoration: none
      .proyectoLugar
        width: 100%
        height: 50px
        background: white
        margin: 0
        position: relative
        h4
          margin 0
          text-align: center
          line-height: 50px
          font-family: 'Montserrat', sans-serif
          color: rgb(51, 51, 51)
          font-size: 0.7rem
          font-weight: 400
        .piko
          background: white
          position: absolute
          transform: rotate(45deg);
          bottom: 5px
          left: 110px
          width: 20px
          height: 20px
          transition: bottom 0.3s ease
          opacity: 0
      .proyectoServicio
        width: 100%
        height: 37px
        background: white
        position: absolute
        bottom 0
        display: flex
        justify-content: flex-start
        align-items: center
        h5
          font-family: 'Open Sans', sans-serif
          font-size: 0.7rem
          font-weight: 300
          color: rgb(153, 153, 153)
          margin: 0 0 0 2rem
        .fa
          font-size: 0.7rem
          margin: 0 0.3rem 0 1.1rem
          line-height: 37px
          display: none
          color: #D2E16D
    .proyecto:hover
      h4
        color #D2E16D
      h5
        margin 0
      .fa
        display: block
      .proyectoLugar
        .piko
          opacity: 1
          bottom -10px
  .masProyectos
    width: 225px
    height: 46px
    display: block
    border-radius: 5px
    background: #c8db4d
    margin: 20px auto 20px
    font-size: 14px
    text-transform: uppercase
    line-height: 46px
    color: #fff
    text-decoration: none
    letter-spacing: 1px
    box-shadow: 0 -3px rgba(0,0,0,0.3) inset
    font-family: 'Montserrat', sans-serif
    text-align: center
  .masProyectos:hover
    background: #69645e
