gris = #939598
verde = #92B41B
celeste = #02aec3
negro = #231f20
grisClaro = #e1e1e1

.textEditor
  margin-bottom: 30px
  .editorMenu
    height: 4rem
    width: 80vw
    border: 1px solid gris
    padding: 0.5rem 0.5rem 0.5rem 0.5rem
    box-sizing: border-box
    display: flex
    justify-content: space-between
  .editorArea
    width: 80vw
    height: 30vw
    border: 1px solid gris
    box-sizing: border-box
    padding: 1rem
    overflow: scroll
    box-shadow: -1px -1px 20px gris inset
.medium-editor-element
    word-wrap: break-word
    min-height: 30px
    img
        max-width: 100%
    sub
        vertical-align: sub
    sup
        vertical-align: super