gris = #939598
verde = #92B41B
celeste = #02aec3
negro = #231f20
grisClaro = #e1e1e1

.confirmacion
  height: 300px
  background white
  text-align: center
  .fa 
    color: verde
    font-size: 3rem
  h2
    margin-bottom: 0
  h5
    margin-top: 0
.confirmacionError
  .fa
    color red