.sectionArticulo
  padding 0 6% 20px
  box-sizing: border-box
  align-items: flex-start
  justify-content: flex-start
  height: auto
  .articuloIzquierda
    width: 300px
    display flex
    justify-content: flex-end
    align-items: center
    flex-wrap: wrap
    margin-top 20px
    padding: 0 20px 0 130px
    box-sizing: border-box
    h5
      margin 0 0.4rem
      font-family: 'Roboto Slab', serif
      font-size: 0.8rem
      font-weight: 300
      color: #aaa
    .social
      flex-wrap: wrap
      justify-content: space-between
      width: 140px
      a
        color: grey
      a:hover
        color: white
  .articuloContenido
    width: 50%
    min-width: 300px
    margin-top 10px
    @media(max-width: 800px)
      width: 100%
    h3
      font-family: 'Montserrar', sans-serif
      font-size: 1.5rem
    p
      font-family: 'Montserrat', sans-serif
      color: grey
      line-height: 1.4rem
    ul
      li
        font-family: 'Montserrat', sans-serif
        color: grey
        line-height: 1.4rem
