.aboutUs
  background: white
  width: 100%
  height: auto
  p
    line-height: 1.5
    font-family: 'Montserrat', sans-serif
    color #333
  .demasPortadaImagen
    z-index: 1
.aboutPrimera
  padding: 2rem  2rem
  display: flex
  flex-wrap: wrap
  align-items: center
  height: auto
  width: 88%
  margin 20px auto
  box-sizing: border-box;
  @media(max-width: 600px)
    justify-content: center
    width: 100%
  .logo
    background-image: url('imagenes/eapanama-logobox-big.png')
    background-size: contain
    background-repeat: no-repeat
    width: 40%
    min-width: 300px
    height: 440px
    @media(max-width: 600px)
      height: 300px
  .aboutPrimeraLaterales
    width: 275px
    height: 440px
    .lateralesPartes
      display: flex
      justify-content: space-between
      hgroup
        width: 211px
        text-align: right
        display: flex
        flex-wrap: wrap
        justify-content: flex-end
        h3
          line-height: 1.3rem
          color: #111
          font-family: 'Open Sans', sans-serif
          font-weight: normal
          margin: 0
          width: 60%
        p
          font-family: 'Open Sans', sans-serif
          font-size: 0.9rem
          line-height: 1.5rem
          color: #333
      .fa
        font-size: 2rem
        font-weight: 300
        line-height: 2.6rem
        color: #333
    .derecha
      hgroup
        text-align: left
        justify-content: flex-start
.aboutSegunda
  padding 2rem 0 2rem
  box-sizing: border-box
  display flex
  flex-wrap: wrap
  height: auto
  border-top 1px solid #ddd
  border-bottom: 1px solid #ddd
  width: 88%
  margin auto
  @media(max-width: 600px)
    justify-content: center
    width: 100%
  .columna
    width: 340px
.aboutInfo
  padding 2rem 0 2rem
  box-sizing: border-box
  height: auto
  border-top 1px solid #ddd
  border-bottom: 1px solid #ddd
  width: 88%
  margin auto
  @media(max-width: 600px)
    justify-content: center
    width: 100%
  p
    width: 100%
    @media(max-width: 600px)
      justify-content: center
      width: 300px
  .infoCompuesto
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    @media(max-width: 600px)
      justify-content: center
    p
      width: 50%
      min-width: 300px
    .infoCompuestoImagen
      width: 40%
      min-width: 300px
      height: 333px
      background: url('https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?w=940&h=650&auto=compress&cs=tinysrgb')
      background-size: contain
      background-repeat: no-repeat
      @media(max-width: 600px)
        height 200px
  .infoIcons
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    width: 100%
    margin-top: 20px
    @media(max-width: 400px)
      justify-content: center
    div
      text-align: center
    .fa
      font-size: 4rem
      color: #333
    h5
      font-family: "Open Sans", sans-serif
      font-size: 14px
      line-height: 1.5rem
      color: rgb(51, 51, 51)
.dropcap
  float: left
  font-family: 'Grand Hotel', cursive
  font-size: 84px
  line-height: 0.7em
  margin-right: 10px
  margin-top: 20px
  color: #c8db4d
