.aboutUs
  width: 100%
  height: auto
  p
    line-height: 1.5
    font-family: 'Montserrat', sans-serif
    color #333
  .demasPortadaImagen
    z-index: 1
.aboutPrimera
  padding: 2rem  2rem
  display: flex
  flex-wrap: wrap
  align-items: center
  height: auto
  width: 8vw
  margin 20px auto 0
  box-sizing: border-box;
  @media(max-width: 600px)
    justify-content: center
    width: 100%
  .logo
    background-image: url('imagenes/eapanama-logobox-big.png')
    background-size: contain
    background-repeat: no-repeat
    width: 35vw
    height: 35vw
    @media(max-width: 800px)
      width: 90vw
      height: 90vw
  .aboutPrimeraLaterales
    width: 275px
    height: 440px
    .lateralesPartes
      display: flex
      justify-content: space-between
      hgroup
        width: 211px
        text-align: right
        display: flex
        flex-wrap: wrap
        justify-content: flex-end
        h3
          line-height: 1.3rem
          color: #111
          font-family: 'Open Sans', sans-serif
          font-weight: normal
          margin: 0
          width: 60%
        p
          font-family: 'Open Sans', sans-serif
          font-size: 0.9rem
          line-height: 1.5rem
          color: #333
      .fa
        font-size: 2rem
        font-weight: 300
        line-height: 2.6rem
        color: #333
    .derecha
      hgroup
        text-align: left
        justify-content: flex-start
.aboutSegunda
  background: white
  padding 2rem 0 2rem
  box-sizing: border-box
  display flex
  flex-wrap: wrap
  height: auto
  border-top 1px solid #ddd
  border-bottom: 1px solid #ddd
  width: 100%
  margin auto
  @media(max-width: 600px)
    justify-content: center
  .columna
    width: 340px
.aboutInfo
  padding 2rem 0 2rem
  box-sizing: border-box
  height: auto
  border-top 1px solid #ddd
  border-bottom: 1px solid #ddd
  width: 100%
  @media(max-width: 600px)
    justify-content: center
    width: 100%
  p
    width: 88%
    margin: auto
    margin-bottom: 1rem
    @media(max-width: 600px)
      justify-content: center
      width: 88%
  .infoCompuesto
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    @media(max-width: 800px)
      width: 90vw
    div
      width: 50%
      @media(max-width: 800px)
        width: 100%
      p
        width: 100%
        min-width: 300px
      ul
        width: 100%
        min-width:300px
        box-sizing: border-box
        line-height: 1.5
        font-family: 'Montserrat', sans-serif
        color #333
    .infoCompuestoImagen
      width: 42vw
      height: 28vw
      background: url('imagenes/about-segunda.jpg')
      background-size: cover
      background-repeat: no-repeat
      box-shadow: 5px 5px 20px grey
      @media(max-width: 800px)
        width: 90vw
        height: 75vw
  .infoIcons
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    width: 100%
    margin-top: 20px
    @media(max-width: 400px)
      justify-content: center
    div
      text-align: center
      @media(max-width: 400px)
        width: 100%
    .fa
      font-size: 4rem
      color: #333
    h5
      font-family: "Open Sans", sans-serif
      font-size: 14px
      line-height: 1.5rem
      color: rgb(51, 51, 51)
.dropcap
  float: left
  font-family: 'Grand Hotel', cursive
  font-size: 84px
  line-height: 0.7em
  margin-right: 10px
  color: #c8db4d
