.aboutPrimera
  padding: 2rem 6% 2rem
  box-sizing: border-box
  display: flex
  flex-wrap: wrap
  align-items: center
  height: auto
  .logo
    background-image: url('imagenes/eapanama-logobox-big.png')
    background-size: cover
    width: 40%
    min-width: 300px
    height: 440px
  .aboutPrimeraLaterales
    width: 25%
    height: 440px
    background: grey
.aboutSegunda
  padding 2rem 6% 2rem
  box-sizing: border-box
  display flex
  flex-wrap: wrap
  height: auto
  border 1px solid #ddd
  .columna
    width: 340px
    p
      line-height: 1.5
      font-family: 'Montserrat', sans-serif
      color #333
