verdeEa = #92b41b

.mapa
  width: 90%
  height: 80vh
  border 1px solid #e1e1e1
.mapLinks
  margin-left: 10vw
  width: 15vw
  display: flex
  height: auto
  justify-content: space-between
  @media(max-width: 900px)
    width: 50vw
  a
    .wazeImg
      background: url('/imagenes/waze-Image.png')
      background-size: contain
      width: 4vw
      height: 4vw
      @media(max-width: 900px)
        width: 20vw
        height: 20vw
    .gmapsImg
      background: url('/imagenes/gmaps.png')
      background-size: contain
      width: 4vw
      height: 4vw
      @media(max-width: 900px)
        width: 20vw
        height: 20vw
.horarios
  width: 40%
  @media(max-width: 800px)
    width: 90%
  p
    font-size: 1.2rem
  .fa
    color: verdeEa
    font-size: 1.5rem
    line-height: 1.5rem
.formulario
  width: 40%
  @media(max-width: 800px)
    width: 90%
  p
    line-height: 1rem
  input
    width: 60%
    height: 2rem
    font-size: 1rem
    font-family: 'Open Sans', sans-serif
  textarea
    width: 60%
    font-size: 1rem
  .formLine
    display: flex
    justify-content: space-between
    margin-bottom: 1rem
    align-items: flex-start
  .formButton
    height: auto
    width: 250px
.arriba
  align-items: flex-start
