verdeEa = #92b41b

.mapa
  width: 90%
  height: 80vh
  border 1px solid #e1e1e1
.mapLinks
  height: auto
  align-items: flex-start
  flex-wrap: wrap
  p
    text-align: right
    margin 0
    padding: 0
  div
    width: 40vw
    min-width: 320px
    display: flex
    justify-content: space-between
    a 
      margin: 2rem 
.horarios
  width: 40%
  @media(max-width: 800px)
    width: 90%
  p
    font-size: 1.2rem
  .fa
    color: verdeEa
    font-size: 1.5rem
    line-height: 1.5rem
.formulario
  width: 40%
  @media(max-width: 800px)
    width: 90%
  p
    line-height: 1rem
  input
    width: 60%
    height: 2rem
    font-size: 1rem
    font-family: 'Open Sans', sans-serif
  textarea
    width: 60%
    font-size: 1rem
  .formLine
    display: flex
    justify-content: space-between
    margin-bottom: 1rem
    align-items: flex-start
  .formButton
    height: auto
.arriba
  align-items: flex-start
