.horarios
  width: 40%
  min-width: 300px
  p
    font-size: 1.2rem
.formulario
  width: 40%
  min-width: 300px
  p
    line-height: 1rem
  input
    width: 60%
    height: 2rem
    font-size: 1rem
    font-family: 'Open Sans', sans-serif
  textarea
    width: 60%
    font-size: 1rem
  .formLine
    display: flex
    justify-content: space-between
    margin-bottom: 1rem
    align-items: flex-start
