section
  height 100vh
  width: 100%
  display flex
  justify-content: space-around
  flex-wrap: wrap
  align-items: center
  background: white
  @media(max-width: 900px)
    height: inherit
.objetivo
  .objetivoTexto
    width: 40vw
    @media(max-width: 800px)
      width: 90vw
    h2
      font-size: 44px
      font-weight: bold
      margin: 0
      span
        color #C8DB4D
    p
      font-family: 'Montserrat', sans-serif
      line-height: 1.6
      text-align: justify
      color #666
    p:last-child
      text-align: center
  .imagenObjetivo
    width: 40vw
    min-width: 300px
    height: 40vw
    background: url('https://images.pexels.com/photos/190397/pexels-photo-190397.jpeg?w=940&h=650&auto=compress&cs=tinysrgb')
    background-size: cover;
    box-shadow: 5px 5px 20px grey
    @media(max-width: 800px)
      width: 90vw
      height: 90vw
