.error
 height: 70vh
 background: black
 justify-content: center
 align-content: center
 .fa
  color red
  font-size: 3rem
  margin-right: 2rem
 h2, h3
  color white
  margin: 0
  padding: 0
  text-align: center