.portfolio 
  background: black
.negro
  width: 100vw
  height: 67px
  background: black
.portafolio
  width: 100vw
  height: 40vw
  display: flex
  flex-wrap: wrap
  @media(max-width: 900px)
    height: auto
  .portafolioLibraries
    height: 40vw
    width: 32vw
    background: #1F1F1F
    box-sizing: border-box
    @media(max-width: 900px)
      width: 90vw
      height: auto
      order: 2
    .tabButton
      display: flex
      justify-content: flex-start
      color: #ddd
      padding-left: 1vw
      border none
      height: 4vw
      width: 100%
      line-height: 4vw
      background: none
      box-sizing: border-box
      @media(max-width: 900px)
        height: 50px
        padding-left: 1rem
      &:hover
        background: rgba(80, 80, 80, 0.6)
        cursor: pointer
      &:focus
        border none
        background: rgba(80, 80, 80, 0.6)
      .fa
        margin-right: 2rem
        font-size: 1rem
        line-height: 4vw
        @media(max-width: 900px)
          line-height: 50px
      h4
        margin: 0
        @media(max-width: 900px)
          line-height: 50px
    .tabEspacio
      height: 20vw
      background: #505050
      width: 100%
      box-shadow: 1px 1px 10px #333 inset
      display: none
      overflow: scroll
      box-sizing: border-box
      @media(max-width: 900px)
          height: auto
    .active
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      padding: 2vw
      box-sizing: border-box
      .proyecto
        cursor pointer
        width: 12.5vw
        height: 17.6vw
        background: #e1e1e1
        margin-bottom: 20px
        box-shadow: 0 2px 3px rgba(0,0,0,0.2)
        position: relative
        text-decoration: none
        @media(max-width: 900px)
          height: 56.32vw
          width: 40vw
        .proyectoLugar
          width: 100%
          height: 50px
          background: white
          margin: 0
          position: relative
          h4
            margin 0
            text-align: center
            line-height: 50px
            font-family: 'Montserrat', sans-serif
            color: rgb(51, 51, 51)
            font-size: 0.7rem
            font-weight: 400
        .piko
          background: white
          position: absolute
          transform: rotate(45deg);
          top: 35px
          left: 6vw
          width: 1.2vw
          height: 1.2vw
          transition: all 0.3s ease
          opacity: 0
        .proyectoServicio
          width: 100%
          height: 30px
          background: white
          position: absolute
          bottom 0
          display: flex
          justify-content: flex-start
          align-items: center
          h5
            font-family: 'Open Sans', sans-serif
            font-size: 0.7rem
            font-weight: 300
            color: rgb(153, 153, 153)
            margin: 0 0 0 2rem
          .fa
            font-size: 0.7rem
            margin: 0 0.3rem 0 1.1rem
            line-height: 37px
            display: none
            color: #D2E16D
        .proyectoImagen
          width: 12.5vw
          height: 12.8vw
      .proyecto:hover
        h4
          color #D2E16D
        h5
          margin 0
        .fa
          display: block
        .piko
          opacity: 1
          top 40px
  .portafolioViewer
    height: 40vw
    width: 68vw
    overflow: hidden
    position: relative
    @media(max-width: 900px)
      width: 96vw
      height: 54vw
      order: 1
    .portfolioRiel
      width: auto
      height: 54vw
      display flex
      flex-wrap: nowrap
      z-index: 0
      position: absolute
      .portfolioImagen
        height: 40vw
        width: 68vw
        @media(max-width: 900px)
          width: 96vw
          height: 54vw
    .portfolioPunto
      position: absolute
      bottom 20px
      right: 28vw
      height: 20px
      width: 150px
      display flex
      justify-content: space-between
      z-index: 1
      .punto
        width: 16px
        height: 16px
        border-radius: 50%
        background: #ddd
        cursor pointer
    .controles
      width: 25px
      height: 64px
      position absolute
      top 20vw
      cursor pointer
      z-index: 1
      .fa
        font-size: 4rem
        color #ddd
        margin: 0
    .imagenBackward
      left: 10px
      display: none
    .imagenFordward
      right: 10px
.position1
  .portfolioRiel
    left 0
  .portfolioPunto
    .punto:first-child
      background: gris
.position2
  .portfolioRiel
    left: -68vw
  .portfolioPunto
    .punto:nth-child(2)
      background: gris
.position3
  .portfolioRiel
    left: -136vw
  .portfolioPunto
    .punto:nth-child(3)
      background: gris
.position4
  .portfolioRiel
    left: -204vw
  .portfolioPunto
    .punto:nth-child(4)
      background: gris
.position5
  .portfolioRiel
    left: -272vw
  .portfolioPunto
    .punto:nth-child(5)
      background: gris
.position6
  .portfolioRiel
    left: -340vw
  .portfolioPunto
    .punto:nth-child(6)
      background: gris
.position7
  .portfolioRiel
    left: -408vw
  .portfolioPunto
    .punto:nth-child(7)
      background: gris
.position8
  .portfolioRiel
    left: -476vw
  .portfolioPunto
    .punto:nth-child(8)
      background: gris
.position9
  .portfolioRiel
    left: -544vw
  .portfolioPunto
    .punto:nth-child(9)
      background: gris
.position10
  .portfolioRiel
    left: -612vw
  .portfolioPunto
    .punto:nth-child(10)
      background: gris