.portfolio 
  background: black
.negro
  width: 100vw
  height: 67px
  background: black
.portafolio
  width: 100vw
  height: 40vw
  display: flex
  flex-wrap: wrap
  @media(max-width: 900px)
    height: auto
  .portafolioLibraries
    height: 40vw
    width: 32vw
    background: #1F1F1F
    box-sizing: border-box
    @media(max-width: 900px)
      width: 90vw
      height: auto
      order: 2
    .tabButton
      display: flex
      justify-content: flex-start
      color: #ddd
      padding-left: 1vw
      border none
      height: 4vw
      width: 100%
      line-height: 4vw
      background: none
      box-sizing: border-box
      @media(max-width: 900px)
        height: 50px
        padding-left: 1rem
      &:hover
        background: rgba(80, 80, 80, 0.6)
        cursor: pointer
      &:focus
        border none
        background: rgba(80, 80, 80, 0.6)
      .fa
        margin-right: 2rem
        font-size: 1rem
        line-height: 4vw
        @media(max-width: 900px)
          line-height: 50px
      h4
        margin: 0
        @media(max-width: 900px)
          line-height: 50px
    .tabEspacio
      height: 20vw
      background: #505050
      width: 100%
      box-shadow: 1px 1px 10px #333 inset
      display: none
      overflow: scroll
      box-sizing: border-box
      @media(max-width: 900px)
          height: auto
    .active
      display: flex
      justify-content: space-between
      padding: 2vw
      box-sizing: border-box
      .miniatura
        height: 10vw
        width: 12.5vw
        cursor: pointer
        @media(max-width: 900px)
          height: 32vw
          width: 40vw
  .portafolioViewer
    height: 40vw
    width: 68vw
    overflow: hidden
    position: relative
    @media(max-width: 900px)
      width: 96vw
      height: 54vw
      order: 1
    .portfolioRiel
      width: 204vw
      height: 54vw
      display flex
      flex-wrap: nowrap
      z-index: 0
      position: absolute
      .portfolioImagen
        height: 40vw
        width: 68vw
        @media(max-width: 900px)
          width: 96vw
          height: 54vw
    .portfolioPunto
      position: absolute
      bottom 20px
      right: 34vw
      height: 20px
      width: 70px
      display flex
      justify-content: space-between
      z-index: 1
      .punto
        width: 16px
        height: 16px
        border-radius: 50%
        background: #ddd
        cursor pointer
    .controles
      width: 25px
      height: 64px
      position absolute
      top 20vw
      cursor pointer
      z-index: 1
      .fa
        font-size: 4rem
        color #ddd
        margin: 0
    .imagenBackward
      left: 10px
      display: none
    .imagenFordward
      right: 10px
.position1
  .portfolioRiel
    left 0
  .portfolioPunto
    .punto:first-child
      background: gris
.position2
  .portfolioRiel
    left: -68vw
  .portfolioPunto
    .punto:nth-child(2)
      background: gris
.position3
  .portfolioRiel
    left: -136vw
  .portfolioPunto
    .punto:nth-child(3)
      background: gris
.position4
  .portfolioRiel
    left: -204vw
  .portfolioPunto
    .punto:nth-child(3)
      background: gris
.position5
  .portfolioRiel
    left: -272vw
  .portfolioPunto
    .punto:nth-child(3)
      background: gris